<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <title>一起养老网</title>
    <link rel="stylesheet" type="text/css" href="../semantic/components/button.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/card.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/container.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/divider.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/icon.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/image.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/item.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/label.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/list.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/menu.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/site.css">
    <link rel="stylesheet" type="text/css" href="../styles/global.css">
    <link rel="stylesheet" type="text/css" href="../styles/layouts/index.css">
</head>
<body id="index">
<div class="page header">
    <div class="ui attached menu">
        <div class="ui container">
            <a class="header item" href="index.html">
                <i class="circular inverted yoast icon"></i>
            </a>
            <a class="active item" href="index.html">首页</a>
            <a class="item" href="mis.html">机构管理</a>
            <a class="item" href="">领导力</a>
            <a class="item" href="">照护</a>
            <a class="item" href="">医疗</a>
            <a class="item" href="">养生</a>
            <a class="item" href="university.html">老年大学</a>
            <a class="item" href="">法律援助</a>

            <div class="right menu">
                <a class="item" href="messages.html">我的消息
                    <div class="ui small orange basic label">8</div>
                </a>
                <a class="item" href="profile.html">杨义锋</a>
                <a class="item" href="login.html">退出</a>
            </div>
        </div>
    </div>
</div>
<div class="page content">
    <div class="ui grid container">
        <div class="row">
            <div class="column">
                <div class="ui right secondary pointing menu">
                    <a class="active item">最新</a>
                    <a class="item">热门</a>
                    <a class="item">销量</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui four cards">
                    <div class="ui card">
                        <a class="ui image" href="product.html">
                            <img src="../images/default_16x9.png"/>
                        </a>
                        <div class="content">
                            <a class="ui header" href="product.html">商业计划书模板</a>
                        </div>
                        <div class="extra content">
                            <a class="ui right floated vertical animated tiny basic button" href="product.html">
                                <div class="hidden content">购买</div>
                                <div class="visible content">
                                    <div class="price">¥&nbsp;<b>9.9</b></div>
                                </div>
                            </a>
                            <a class="ui right floated vertical animated tiny basic button" href="product.html">
                                <div class="hidden content">收藏</div>
                                <div class="visible content"><i class="heart icon"></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="ui fluid small button">加载中，请稍候</div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="ui container">
        <div class="ui section divider"></div>
        <div class="ui small horizontal list">
            <a class="item" href="">关于我们</a>
            <a class="item" href="">移动APP</a>
            <a class="item" href="">官方微信</a>
            <a class="item" href="">官方微博</a>

            <div class="item">客服电话 4008-123-123</div>
        </div>
        <div class="ui small right floated horizontal list">
            <a class="disabled item" href="http://17yanglao.com">&copy; 2016 Mengma, Inc. All Rights Reserved.</a>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../semantic/components/site.js"></script>
<script src="../scripts/global.js"></script>
</body>
</html>
