<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <title>一起养老网</title>
    <link rel="stylesheet" type="text/css" href="../semantic/components/button.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/form.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/grid.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/header.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/icon.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/input.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/item.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/menu.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/reset.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/segment.css">
    <link rel="stylesheet" type="text/css" href="../semantic/components/site.css">
    <link rel="stylesheet" type="text/css" href="../styles/global.css">
    <link rel="stylesheet" type="text/css" href="../styles/layouts/login.css">
</head>
<body id="login">
<div class="ui center aligned grid">
    <div class="column">
        <div class="ui header">
            <i class="circular inverted yoast icon"></i>
        </div>
        <form class="ui large form">
            <div class="ui two item secondary pointing menu">
                <a class="item" href="signup.html">注 册</a>
                <a class="active item" href="login.html">登 录</a>
            </div>
            <div class="ui segments">
                <div class="ui raised segment">
                    <div class="field">
                        <div class="ui left icon transparent input">
                            <i class="mobile icon"></i>
                            <input type="text" name="mobile" placeholder="手机号"/>
                        </div>
                    </div>
                </div>
                <div class="ui raised segment">
                    <div class="field">
                        <div class="ui left icon transparent input">
                            <i class="lock icon"></i>
                            <input type="password" name="password" placeholder="密码"/>
                        </div>
                    </div>
                </div>
            </div>
            <a class="ui fluid primary button" href="index.html">登 录</a>
        </form>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../semantic/components/form.js"></script>
<script src="../semantic/components/site.js"></script>
<script src="../scripts/global.js"></script>
</body>
</html>
