<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="renderer" content="webkit"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="apple-touch-icon" href="../apple-touch-icon.png">
    <title>一起养老网</title>
    <link rel="stylesheet" type="text/css" href="../semantic/semantic.css">
    <link rel="stylesheet" type="text/css" href="../styles/global.css">
    <link rel="stylesheet" type="text/css" href="../styles/layouts/profile.css">
</head>
<body id="profile">
<div class="page header">
    <div class="ui attached menu">
        <div class="ui container">
            <a class="header item" href="index.html">
                <i class="circular inverted yoast icon"></i>
            </a>
            <a class="item" href="index.html">首页</a>
            <a class="item" href="">机构管理</a>
            <a class="item" href="">照护</a>
            <a class="item" href="">医疗</a>
            <a class="item" href="">养生</a>
            <a class="item" href="">老年大学</a>
            <a class="item" href="">法律援助</a>
            <div class="right menu">
                <a class="item" href="messages.html">我的消息
                    <div class="ui small orange basic label">8</div>
                </a>
                <a class="item" href="profile.html">杨义锋</a>
                <a class="item" href="login.html">退出</a>
            </div>
        </div>
    </div>
</div>
<div class="page content">
    <div class="ui container">
        <div class="ui top attached menu">
            <a class="active item" href="profile.html">基本资料</a>
            <a class="item" href="vip.html">会员服务</a>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui form">
                <div class="inline field">
                    <label class="">姓名</label>
                    <input type="text" placeholder="姓名" value="杨义锋"/>
                </div>
                <div class="inline field">
                    <label class="">手机号</label>
                    <input type="text" placeholder="手机号" value="135 **** 1017"/>
                </div>
                <div class="inline field">
                    <label class="">密码</label>
                    <input type="text" placeholder="密码" value="********"/>
                </div>
                <div class="ui divider"></div>
                <div class="inline field">
                    <label class="">网站</label>
                    <input type="text" placeholder="网站"/>
                </div>
                <div class="inline field">
                    <label class="">手机网站</label>
                    <input type="text" placeholder="手机网站"/>
                </div>
                <div class="inline field">
                    <label class="">微信</label>
                    <input type="text" placeholder="微信"/>
                </div>
                <div class="inline field">
                    <label class="">微博</label>
                    <input type="text" placeholder="微博"/>
                </div>
                <div class="ui divider"></div>
                <div class="inline field">
                    <button class="ui primary button">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="ui container">
        <div class="ui section divider"></div>
        <div class="ui small horizontal list">
            <a class="item" href="">关于我们</a>
            <a class="item" href="">移动APP</a>
            <a class="item" href="">官方微信</a>
            <a class="item" href="">官方微博</a>
            <div class="item">客服电话 4008-123-123</div>
        </div>
        <div class="ui small right floated horizontal list">
            <a class="disabled item" href="http://17yanglao.com">&copy; 2016 Mengma, Inc. All Rights Reserved.</a>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../semantic/semantic.min.js"></script>
<script src="../scripts/global.js"></script>
</body>
</html>
